/bar/Debug/*.tlog

/bar/Debug/*.obj

/bar/Win32/Debug

/bar/Debug

/bar/GeneratedFiles/Debug

/bar/GeneratedFiles

/bar/*.sdf

/bar/*.user

/bar/*.vspscc

/bar/*.suo
/bar/Win32/Release/*.dll
/bar/Release/*.tlog

/bar/Release/*.obj

/bar/Win32/Release/*.exe

/bar/Release

/bar/Win32/Release
